*~
/.stamp.*
/binutils-*
/gcc-*
/gmp-*
/isl-*
/mingw-w64-*
/mpc-*
/mpfr-*
/newlib-*
/sources/binutils-*
/sources/gcc-*
/sources/gmp-*
/sources/isl-*
/sources/mingw-w64-*
/sources/mpc-*
/sources/mpfr-*
/sources/newlib-*
/sysroot
/*-toolchain-*.tar.gz
